form{
    margin: 2rem .5rem 0 .5rem;
    border-radius: 1rem;
    font-family: var(--main-source);
}

.formStyle{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1.5rem 1rem ;
    width: 20rem;
}

h1{
    font-size: 1.5rem;
    font-weight: var(--bold-font); 
    color: var(--Grey-900);
}

label, p{
    font-size: 14px;
    color: var(--Grey-500);
    font-weight: var(--bold-font);
}

label{
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.userNameLeft,
.userNameRight,
.email{
    display: flex;
    flex-direction: column;
}

input,
.option,
button{
    height: 2.5rem;
    border-radius: 5px;
    border: 1px solid var(--Grey-500);
}

.option{
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.option > input {
    margin-left: 1rem;;
}

textarea{
    height: 15rem;
    border: 1px solid var(--Grey-500);
    border-radius: .5rem;
}

.checkboxSection{
    display: flex;
    align-items: center;
    gap: .5rem;
}

button{
    color: var(--White);
    font-weight: var(--bold-font);
    letter-spacing: .1rem;
}

.attribution{
    margin-top: 1rem;
    margin-bottom: .5rem;
}